@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
* {
  scroll-behavior: smooth;
}

.font-Manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.font-Grosteque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
}

.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/bg.jpg");
  height: 100vh;
  position: cover;
}

.request-button {
  /* background: #fbca1f; */
  padding: 15px;
  font-weight: 900;
  /* font-size: 1rem; */
  /* border: 3px solid white; */
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.request-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.request-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0.3rem;
  height: 0;
  border-radius: 10px;
  position: fixed;
  right: 0;
  top: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #d9f99d;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

/* gradient : rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(99, 102, 241) 0px 0px 40px 0px */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}